/* .AV-a-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
} */
/* .AV-a-dropbtn {
  width: 100%;
  background-image: linear-gradient(to right, #F44336 , #ff5537);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
} */

.AV-a-dropbtn:hover, .AV-a-dropbtn:focus {
  background-color: #3e8e41;
}

#AV-a-myinput {
  width: 100%;
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#AV-a-myinput:focus {outline: 3px solid #ddd;}



.AV-a-dropdown-content {
  display: none;
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  overflow: auto;
  z-index: 1;
  max-height: 250px;
  overflow: auto;
  border: none;
  border-radius: 10px;
}

/* .AV-a-dropdown-content button {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
} */

.AV-a-dropdown-content img {
  height: 50px;
}

.AV-a-dropimg {
  width: 70%;
}
@media only screen and (max-width: 1200px) {
  .AV-a-dropimg {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .AV-a-dropimg {
    width: 50%;
  }
}

/* .AV-a-dropdown button:hover {background-color: #ddd;} */

.show {display: block;}